.vscode
*.dsYM
main
Solution
tempCodeRunnerFile
/win
build
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-100a9c4581994685e716.json
build/.cmake/api/v1/reply/codemodel-v2-85f8ad0ce263c4e93f1e.json
build/.cmake/api/v1/reply/directory-t63-Debug-8397b4e00f5dc6da5d30.json
build/.cmake/api/v1/reply/index-2022-08-31T13-21-31-0521.json
build/.cmake/api/v1/reply/target-test-Debug-9b98d77d93ff2bc5bc40.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-100a9c4581994685e716.json
build/.cmake/api/v1/reply/codemodel-v2-85f8ad0ce263c4e93f1e.json
build/.cmake/api/v1/reply/directory-t63-Debug-8397b4e00f5dc6da5d30.json
build/.cmake/api/v1/reply/index-2022-08-31T13-21-31-0521.json
build/.cmake/api/v1/reply/target-test-Debug-9b98d77d93ff2bc5bc40.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
